<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lecraftjay.newgrounds">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.lecraftjay.newgrounds.classes.MyApplication"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newgrounds">
        <activity
            android:name=".more_window.profile.PlaylistTrackActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.profile.PlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.UserContentActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.UserActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.movie.MovieContentActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.audio.SearchAudioActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.art.ArtContentActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.DevStatusActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.NewFeaturesActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.StatsActivity"
            android:exported="false" />
        <activity
            android:name=".more_window.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".nav_window.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".nav_window.ArtActivity"
            android:exported="false" />
        <activity
            android:name=".nav_window.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".nav_window.GamesActivity"
            android:exported="false" />
        <activity
            android:name=".nav_window.AudioActivity"
            android:hardwareAccelerated="true"
            android:exported="false" />
        <activity
            android:name=".more_window.audio.TrackActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3904729559747077~7281686461" />
    </application>

</manifest>